{% extends 'AoceuSiteBundle::layout.html.twig' %}

{% block bodyContent %}
<h1>Tense creation</h1>

<form action="{{ path('admin_tense_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="unstyled record_actions">
    <li>
        <a class="btn" href="{{ path('admin_tense') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
